<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>My Toy DLC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-sham.js"></script>
    <![endif]-->

    <style>
        html,
        body {
            margin:0;
            padding:0;
            height:100%;
        }
        #main-container {
            min-height:100%;
            position:relative;
        }
        #body {
            padding-bottom:70px;   /* Height of the footer */
        }
        #footer {
            position:absolute;
            bottom:0;
            width:100%;
            height:70px;   /* Height of the footer */
        }
    </style>
</head>

<body>
    <div id="main-container">
        <div id="body">
            <div class="page-header" id="header" style='margin-top:0'>
                <h1 style='margin-top:0; padding:20px; height:70px'>
                    My Toy DLC <span>Playground</span>
                </h1>
            </div>

            <div class="container">
            <div class="row clearfix">

                <div class="col-md-2 column">
                    <div class="nav-collapse sidebar-nav">
                        <ul class="nav nav-tabs nav-stacked main-menu">
                            <li><a href="#">
                                <i class="icon-dashboard"></i>
                                <span class="hidden-tablet"> Home</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="btn btn-default dropdown-toggle" type="button" style="text-align:left"
                                        id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    New Action&nbsp;<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li><a class="submenu" href="#">
                                        <i class="icon-file-alt"></i>
                                        <span class="hidden-tablet"> Upload files to B2DROP</span></a>
                                    </li>
                                    <li><a class="submenu" href="#">
                                        <i class="icon-file-alt"></i>
                                        <span class="hidden-tablet"> Call an external service</span></a>
                                    </li>
                                    <li><a class="submenu" href="#">
                                        <i class="icon-file-alt"></i>
                                        <span class="hidden-tablet"> Annotate B2DROP files</span></a>
                                    </li>
                                    <li><a class="submenu" href="#">
                                        <i class="icon-file-alt"></i>
                                        <span class="hidden-tablet"> Push to B2SHARE</span></a>
                                    </li>
                                    <li><a class="submenu" href="#">
                                        <i class="icon-file-alt"></i>
                                        <span class="hidden-tablet"> View provenance data</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-10 column">
                    <h3> Upload files to B2DROP </h3>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="b2drop_ex2">B2DROP files:</label>
                                    <select class="form-control" id="b2drop_ex2" size="15">
                                        <option value="folder"><span class="glyphicon glyphicon-folder-open"></span>Folder</option>
                                        <option value="file"><span class="glyphicon glyphicon-file"></span>File</option>
                                    </select>
                                </div>
                            </form>
                            <form class="dropzone dz-clickable" action="/">
                              <div class="dz-message">
                                Drop files here or click to upload files to B2DROP.<br>
                              </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <label>File location:</label>
                            <div class="map-canvas"></div>
                        </div>
                    </div>
                    <hr/>

                    <h3> Call an external web service on B2DROP files </h3>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="ex1">Select a service:</label>
                                    <select class="form-control" id="ex1" size="9">
                                        <option value="shuffler">Shuffler</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </form>

                            <form>
                                <div class="form-group">
                                    <label for="b2drop_ex2">Select a B2DROP file:</label>
                                    <select class="form-control" id="b2drop_ex2" size="12">
                                        <option value="file1">File1</option>
                                        <option value="file2">File2</option>
                                    </select>
                                </div>
                            </form>

                            <button type="button" class="btn btn-primary btn-block">Execute</button>
                        </div>
                        <div class="col-md-6">
                            <label>Service and file location:</label>
                            <div class="map-canvas"></div>
                        </div>
                    </div>
                    <hr/>

                    <h3> Annotate B2DROP files </h3>
                    <hr/>

                    <h3> Push B2DROP files to B2SHARE </h3>
                    <hr/>

                    <h3> View provenance data </h3>
                    <hr/>
                </div>

            </div>
            </div>
        </div>

        <footer id="footer">
        </footer>
    </div>

    <noscript>
    <div>The GEF requires JavaScript to be enabled!</div>
    </noscript>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(50, 10),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        $('.map-canvas').each(function(i, x){
            var map = new google.maps.Map(x, mapOptions)
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>
</html>
